* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1B263B;
  }
  .container {  display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 150px 2.5fr 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo header"
      "nav main"
      "footer footer";
  }
  
  .logo { grid-area: logo; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
  }

  .logo > img {
    max-height: 100%;
    margin: auto;
  }
  

  header { grid-area: header; 
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 5vw;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #E0E1DD;
    padding: 5px;
  }

  nav { grid-area: nav; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  nav > a {
    padding: 10px;
    margin: 20px;
  }

  nav a {
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    color: #E0E1DD;
    
  }

  a:hover {
    color: #778DA9;
  }
  
  footer { grid-area: footer; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    }

  footer p {
    margin: 5px;
  }
  
  .main { grid-area: main; }
  
  body {
    background: #33363D;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
 }

 h2 {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    color: #E0E1DD;
    padding: 5px;
 }

  button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    display: flex;
    align-items: center;
    font-size: 150px;
}
#buttons {
    display: flex;
    align-items: center;
}
#buttons li {
    display: inline;
    padding-left: 10px;
}


  